.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.image {
  width: calc(20% - 160px / 5);
  background: #ffffff;
  padding: 30px 36px;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 12px;
  }

  .image {
    width: calc(25% - 36px / 4);
    padding: 18px;
  }
}

@media screen and (max-width: 480px) {
  .image {
    width: calc(50% - 12px / 2);
  }
}
