.form {
  position: relative;
  width: 656px;
  background: #f2f7fa;

  &__close-button {
    position: absolute;
    top: 26px;
    right: 26px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    padding: 24px 0;

    &.gap {
      padding: 24px 32px;
    }
  }

  &__content-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #01669c;
  }

  &__content-title-dot {
    color: #ffc20f;
  }

  &__content-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  &__content-field-label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #01669c;
  }

  &__content-field-required {
    color: #df3737;
  }

  &__content-field-input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #b2d1e1;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #01669c;
    transition: all 0.5s;

    &.error {
      border: 1px solid #df3737;
    }

    &::placeholder {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #3485b0;
    }
  }

  &__field-error {
    position: absolute;
    left: 0;
    bottom: -24px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #df3737;
  }

  &__curriculum-vitae {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
  }

  &__content-field-file {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 0 12px;
  }

  &__content-field-file-title-wrapper {
    padding: 12px 16px;
    background: #dbeaf1;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
    max-width: 40%;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content-field-file-title {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content-field-file-delete {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #df3737;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__content-field-dropzone {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    border: 1px solid #01669c;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #01669c;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: #dbeaf1;
    }
  }

  &__content-field-dropzone-text {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }

  &__separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #80b3ce;
  }

  &__separator-line {
    height: 1px;
    width: 40%;
    background: #80b3ce;
  }

  &__description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #011520;
  }

  &__description-email {
    color: #01669c;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      color: #3485b0;
    }
  }
}
