.container {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 94px;
  background: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 12px 64px;

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
    line-height: 0;
  }

  &__logo {
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  &__navigation-get-item {
    display: flex;
    align-items: center;
    gap: 0 4px;
    cursor: pointer;

    & img {
      transition: all 0.5s;
    }

    &:hover {
      .header__navigation-get-item-text {
        color: #b3880b;
      }

      & img {
        filter: brightness(0) saturate(100%) invert(52%) sepia(93%) saturate(1043%)
          hue-rotate(14deg) brightness(86%) contrast(91%);
      }
    }
  }

  &__navigation-get-item-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffc20f;
    transition: all 0.5s;
  }

  &__navigation-get-item-image {
    transition: all 0.5s;
  }
}
