.project-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px 0;
  padding: 0 64px 96px;

  &__name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #01486e;
  }

  &__description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #01486e;
  }

  &__tags-wrapper {
    display: flex;
    gap: 0 12px;
  }

  &__tag {
    padding: 12px 16px;
    background: #dbeaf1;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
  }
}
