.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.item {
  height: 250px;
  padding: 40px;

  &.primary {
    background: #f2f7fa;
  }

  &.secondary {
    background: #fffcf3;
  }

  &__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #01669c;
    margin: 0 0 32px;
  }

  &__description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #01669c;
  }
}
