.project-results {
  display: flex;
  flex-direction: column;
  gap: 120px 0;

  &__items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  &__item {
    padding: 24px 32px;
    background: #fffcf3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px 0;
  }

  &__item-value {
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffc20f;
  }

  &__item-description {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #01486e;
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px 0;
  }

  &__feedback-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #01669c;
  }

  &__feedback-title-dot {
    color: #ffc20f;
  }

  &__feedback-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
  }

  &__feedback-content {
    width: calc(100% - 88px - 16px);
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }

  &__feedback-content-name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #01669c;
  }

  &__feedback-content-company {
    width: max-content;
    padding: 12px 16px;
    background: #dbeaf1;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__feedback-content-description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3485b0;
  }

  &__feedback-content-link {
    display: flex;
    gap: 0 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
    transition: all 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}
