.container {
  padding: 48px 64px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0 12px;

  &.centered {
    justify-content: center;
  }

  &__link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: #80b3ce;
    }
  }

  &__separator {
    line-height: 0;
    transform: rotateZ(-90deg);
  }

  &__text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #80b3ce;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 32px 12px 40px;
  }

  .breadcrumbs {
    &.centered {
      justify-content: flex-start;
    }

    &__separator {
      transform: rotateZ(90deg);
    }
  }
}
