.project-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px 0;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__paragraphs,
  &__rows {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__rows {
    padding: 0 0 0 24px;
  }

  &__paragraphs-item,
  &__rows-item {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #01486e;
  }

  &__rows-item::before {
    content: '\2022';
    color: #ffc20f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  &__video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px 0;
  }

  &__video-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #01669c;
  }

  &__video-title-dot {
    color: #ffc20f;
  }
}
