.project-preview {
  padding: 24px 64px;
  display: flex;
  justify-content: center;

  &__container {
    position: relative;
    background: url('../../../../public/static/images/macbook-image.png') no-repeat center / contain;
    padding: 96px 142px;
    line-height: 0;
  }
}
