.container {
  padding: 40px;
  width: 50%;
  height: 44.05vw;
  background: #f2f7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.big {
    height: 52.98vw;
    background: #fffcf3;
  }
}

.name {
  width: max-content;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #01669c;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: #80b3ce;
  }
}

.tags-wrapper {
  width: 100%;
  overflow: hidden;
}

.tag {
  width: max-content !important;
  height: 41px;
  padding: 12px 16px;
  background: #dbeaf1;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #01669c;
  white-space: nowrap;
}

.description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #3485b0;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 24.9vw;

  &.big {
    height: 33.48vw;
  }

  &__link-wrapper {
    position: absolute;
    padding: 24px;
    background: linear-gradient(0deg, rgba(1, 102, 156, 0.1), rgba(1, 102, 156, 0.1));
    color: #01669c;
    width: 100%;
    height: 24.9vw;
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 1;

    &.big {
      height: 33.48vw;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 12px;
  }

  &__link-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;

    &.big {
      height: 100%;
    }
  }
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #01669c;
  width: 100%;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    opacity: 0.7;
  }

  &__link-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: 77vw;

    &.big {
      height: 109vw;
    }
  }

  .image-wrapper {
    height: 50vw;

    &.big {
      height: 82vw;
    }

    &__link-wrapper {
      height: 50vw;

      &.big {
        height: 82vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 105vw;

    &.big {
      height: 138vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 24px 12px;
    height: 125vw;

    &.big {
      height: 155vw;
    }
  }
}
