.container {
  width: 100%;

  &.small {
    padding: 64px 64px 120px;
  }

  &.big {
    padding: 120px 64px;
  }
}

.name-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 24px;

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 12px 0 0;
    background: #ffc20f;
  }

  &__text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #80b3ce;

    &.color-secondary {
      color: #ffffff;
    }
  }
}

.titles-wrapper {
  margin: 0 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #01669c;

    &.color-secondary {
      color: #ffffff;
    }
  }

  &__dot {
    color: #ffc20f;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
    cursor: pointer;

    & img {
      transition: all 0.5s;
    }

    &:hover {
      .titles-wrapper__link-text {
        color: #b3880b;
      }

      & img {
        filter: brightness(0) saturate(100%) invert(52%) sepia(93%) saturate(1043%)
          hue-rotate(14deg) brightness(86%) contrast(91%);
      }
    }
  }

  &__link-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffc20f;
    transition: all 0.5s;
  }
}
