.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 25%;
  padding: 40px;
  background: #f2f7fa;

  &:nth-child(2n) {
    background: #fffcf3;
  }

  &__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #01669c;
    margin: 0 0 24px;
  }

  &__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.04em;
    color: #01669c;
  }
}
