.container {
  width: 100%;

  &.filled-light {
    background: #f2f7fa;
  }

  &.filled-dark {
    background: #011520;
  }
}

.layout {
  width: min(100%, 1440px);
  margin-inline: auto;

  &.small {
    width: min(100%, 1002px);
  }
}
