.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px 36px;
}

.item {
  width: calc(33.33% - 24px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__content-wrapper {
    width: calc(100% - 88px - 16px);
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }

  &__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #01669c;
  }

  &__company {
    width: 100%;
    padding: 12px 16px;
    background: #dbeaf1;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3485b0;
  }

  &__link {
    display: flex;
    gap: 0 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #01669c;
    transition: all 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}
