.career-item {
  display: flex;
  background: #f2f7fa;

  &__content {
    width: 634px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 24px;
    border-right: 1px solid #dbeaf1;
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #01669c;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: #80b3ce;
    }
  }

  &__info {
    display: flex;
    gap: 0 24px;
  }

  &__location,
  &__time {
    display: flex;
    align-items: center;
    gap: 0 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #011520;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 12px;
    width: 240px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #01669c;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: #dbeaf1;
    }
  }
}
